.content-pieces {
    justify-items: center;
    grid-template-rows: 25% 16% 1fr;
}

.content-pieces .title-container .title {
    font-size: 3.5em;
    margin: 0px 0px 80px 0px;
}

.content-pieces .search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-pieces .search {
    width: 500px;
    height: 50px;
}

.content-pieces .search input{
    font-size: 1.5em;
    padding: 0px 40px 0px 12px;
}

.content-pieces .search button{
    font-size: 1.3em;
    top: 10px;
}

.content-pieces .table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    width: 60%;
    height: 100%;
    margin-bottom: 50px;
}