.content-login {
    justify-content: center;
    grid-template-rows: 20% 1fr;
}

.content-login .title-container .title {
    font-size: 4em;
    margin: 0;
}

.input-container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 600px;
    gap: 30px;
    margin: 100px 0px;
}

.input-container label {
    display: grid;
    grid-template-columns: 240px 1fr;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.input-container input {
    font-size: inherit;
    font-family: inherit;
    border: none;
    border-radius: 30px;
    padding: 10px 20px;
    box-shadow: inset 0px 0px 3px rgb(73, 73, 73);
    outline: none;
}

.btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 25px;
    margin-bottom: 70px;
}

.btn-container button {
    border: none;
    width: 40%;
    cursor: pointer;
}