.info-img-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin-top: 25px;
}

.info-img-container .info-container {
    width: 80%;
}

.comp-img-wrapper {
    display: flex;
    align-items: center;
    width: 225px;
}

.comp-img-wrapper img {
    max-width: 225px;
}

.hist-wrapper {
    text-align: justify;
    margin-top: 30px;
}

.works-container {
    margin-bottom: 100px;
    margin-top: 30px;
}

.works-container ul {
    list-style: none;
    padding-left: 0;
}

.works-container li {
    margin: 10px 0px;
}

.works-container a {
    text-decoration: none;
    color: inherit;
}

.works-container a:hover {
    text-decoration: underline;
}